page{
    background-color: #f4f4f4;
}

.field {
    border-radius: 32rpx !important;
    border: 1.2px solid var(--themeColor) !important;
}

.input {
    padding-left: 26rpx !important;
    border-radius: 32rpx !important;
}

.custom {
    background-color: #fff !important;
    border-radius: 16rpx !important;
    height: 96rpx !important;
    margin: 480rpx 15rpx !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
}

.van-search__content--square {
    height: 80rpx !important;
    margin: 480rpx 15rpx !important;
    background-color: #fff !important;
}