@import "../../styles/iconfont.wxss";

page {
  background-color: #f4f4f4;
}

.login_wrap{
  height: 220rpx;
  margin: 20rpx 30rpx;
  border: medium;
  background-color: #fff;
  border-radius: 16rpx 16rpx 0 0;
  display: flex;
  .login{
    height: 100%;
    display: flex;
    margin: 20rpx 35rpx;
    .user_icon_wrap{
      margin-top: 16rpx;
      width: 150rpx;
      height: 150rpx;
      display: flex;
      .user_icon{
        height: 150rpx;
        width: 150rpx;
        border-radius: 50%;
      }
    }
    .text_wrap{
      margin-left: 20rpx;
      margin-top: 22rpx;
      height: 150rpx;
      width: 58vw;
      .ex1{
        font-size: 46rpx;
      }
      .ex2{
        margin-top: 30rpx;
        color: #888888;
        font-size: 28rpx;
      }
    }
    
  }
}

.btn1{
  border-radius: 16rpx 16rpx 0 0;
  margin: 4rpx 30rpx;
  background-color: #fff;
  display: flex;
}

.btn1::after{
  border: 0;
}

.btn{
  margin: 4rpx 30rpx;
  background-color: #fff;
  display: flex;
  border-radius: 0;
}

.btn::after{
  border: 0;
}

.btn2{
  margin: 4rpx 30rpx;
  background-color: #fff;
  display: flex;
  border-radius: 0 0 16rpx 16rpx;
}

.btn2::after{
  border: 0;
}
.arrow{
  color: #b0b0b0;
}

.myicon{
  margin-left: 10rpx;
  margin-right: 20rpx;
  margin-top: 8rpx;
}
.title{
  width: 86%;
  text-align: left;
}