page {
  background-color: #f4f4f4;
}

.login_wrap{
  height: 220rpx;
  margin: 20rpx 20rpx;
  border: medium;
  background-color: #fff;
  border-radius: 16rpx;
  display: flex;
  .login{
    height: 100%;
    display: flex;
    margin: 20rpx 30rpx;
    .user_icon_wrap{
      margin-top: 16rpx;
      width: 150rpx;
      height: 150rpx;
      display: flex;
      .user_icon{
        height: 150rpx;
        width: 150rpx;
        border-radius: 50%;
      }
    }
    .text_wrap{
      margin-left: 20rpx;
      margin-top: 22rpx;
      height: 150rpx;
      width: 58vw;
      .ex1{
        font-size: 46rpx;
      }
      .ex2{
        margin-top: 30rpx;
        color: #888888;
        font-size: 28rpx;
      }
    }
    
  }
}