.wrap {
    display: flex;
    width: 90%;
    margin: 20rpx 40rpx 0;

    .title {
        font-size: 36rpx;
    }

    .meta {
        font-size: 28rpx;
        color: #888888;
        display: -webkit-box;
        word-break: break-all;
        text-overflow: ellipsis;
        font-size: 28rpx;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}