.edit{
    color: #44d;
    text-decoration: underline;
    font-size: 26rpx;
    margin-bottom: -10rpx;
}

.title,.content,.proof,.remark,.example,.source{
    display: flex;
    margin: 0 20rpx;
    align-items: center;
}

.bt{
    font-size: 48rpx;
    margin: 0 20rpx;
}

.tow{
    margin-top: -30rpx;
}